# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build output
dist/
coverage/

# Optional npm cache
.npm

# Others
*.log
